body{
    background-color: rgb(219, 212, 212);
}

.nav_Container {
    right: 10px;
    position: absolute;
    padding : 25px
}

.nav_bar {
    text-decoration: none;
    background-color: rgb(243, 241, 239);
    padding: 1rem;
    margin-left : 0.3rem;
    margin-right : 0.3rem;
    transition-duration: 1s;
    color: #000;
}
.nav_bar:hover {
    background-color: rgb(6, 255, 243);
    color: rgb(0, 26, 255);
}

.textHead {
    font-size: 50px;
    color: rgb(0, 153, 255);
    text-align: center;
}

.dataContainer {
    background-color: #cdcdcd;
    padding : 1rem;
    margin-bottom : 0.3rem; 
    transition-duration: 1s;
}

.dataContainer:hover{
    background-color: #ffffff;
     
}

.textContainer{
    text-align: left;
    margin-left: 200px;
    line-height: 0.4;
    font-size: 12px;
}

.imageData{
    max-width: 9%;
    height: auto;
    float: left;
    clear: left;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 2px;
}
