<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/otani.png">
    <link rel="stylesheet" href="css/delete.css">
    <script src="js/delete.js"></script>
    <title>iuhggiuhhgbnr</title>
</head>
<body>
    <div class="nav_Container">
        <a href="/" class="nav_bar">Main page</a>
        <a href="/input" class="nav_bar">Input page</a>
    </div>  
    <br>
    <p class="textHead">หน้าสำหรับลบข้อมูล</p>
    <br>
    <br><br>
    <div class="app" id="app"></div>
</body>
</html>