<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="img/otani.png">
    <script src="js/main.js"></script>
    <!--<script type="text/javascript" src="js/main.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title>Image store by iuhggiuhhgbnr</title>
</head>
<body>
    <div class="nav_Container">
        <a href="/input" class="nav_bar">Input page</a>
        <a href="/delete" class="nav_bar">Delete data</a>
    </div>  
    <br>
    <p class="textHead" id="textHead"> หน้าสำหรับดูรูปภาพ </p>  
    <br>
    <br><br>
    <div class="app" id="app"></div>
    <br>

</body>
</html>