<!DOCTYPE html>
<link rel="icon" href="img/otani.png">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/input.js"></script>
    <title>Input page</title>
</head>
<body>
    <a href="/">Main page</a>
    <p class="textHead">Input page</p>
    <div id="name">
        <h2 class="name">Input your data</h2>  
        <input class="id" id ="id" type="text"  name="id" placeholder="หมายเลยภาพ" size="40"><br> 
        <br> 
        <input class="nameform" id ="nameform"  type="text"  name="nameform" placeholder="ชื่อของภาพ" size="40"><br>
        <br> 
        <input class="desform"      id ="desform"       type="text"  name="desform"     placeholder="คำอธิบาย 1" size="40"><br>
        <input class="desform2"     id ="desform2"      type="text"  name="desform2"    placeholder="คำอธิบาย 2" size="40"><br>
        <input class="desform3"     id ="desform3"      type="text"  name="desform3"    placeholder="คำอธิบาย 3" size="40"><br>
        <input class="desform4"     id ="desform4"      type="text"  name="desform4"    placeholder="คำอธิบาย 4" size="40"><br>
        <input class="desform5"     id ="desform5"     type="text"   name="desform5"    placeholder="คำอธิบาย 5" size="40"><br>
        <br> 
        <input type="file" id="imagedatainput" name="imagedatainput" size="50">
        <br> 

        <input class="imagename"  id ="imagename"  type="text"  name="imagename" placeholder="Do not input" size="40"><br>

         <br>   
         <button type="reset" id="reset" style="vertical-align:middle"><span>Clear </span></button>
         <button type="submit" id="submitImageName" style="vertical-align:middle"><span>Submit image name </span></button>
         <button type="submit" id="submit" style="vertical-align:middle"><span>Submit </span></button>            
</div>   
</body>
</html>